h1 {
  padding: 50px;
  text-align: center;
}
h2 {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.row {
  width: 100%;
  margin-left: 0%;
  margin-bottom: 60px;
}
.transport {
  background-color: white;
  padding: 50px 1%;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 100px;
  padding: 50px;
  border: solid 1px #ddd;
  margin-left: 1%;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #eee;
  line-height: 100px;
  margin-bottom: 30px;
  text-align: center;
  background: #000;
  background: #23a984;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

h1.title {
  float: left;
  text-align: left;
  padding: 0;
  margin-bottom: 36px;
}

span {
  font-size: 24px;
}

.desc-green,
.green {
  color: #23a984;
}

.price {
  margin-top: 70px;
  width: 100%;
  text-align: right;
}

.price span {
  font-size: 56px;
  font-weight: 700;
}

.login {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #23a984;
}

.textcolor {
  color: #23a984;
}

a {
  font-size: 0.8em;
  font-weight: 600;
}

a:hover {
  color: #23a984 !important;
}
