<div class="container" *ngIf="this.usersService.logedUser == true">
  <li>logged user id: {{ user._id }}</li>
  <li>logged user username: {{ user.username }}</li>
  <li>logged user email: {{ user.email }}</li>
  <li>logged user password: {{ user.password }}</li>
</div>
<
<div class="container text-center p-5 " *ngIf="this.usersService.logedUser == true">
  <button class="btn btn-outline-success text-white login" (click)="changeState()">
    {{ user.username }} Service Managment
  </button>
</div>
<div class="container" *ngIf="this.state == true">
  <div class="row">
    <div class="card transport" *ngFor="let transport of transportOfUser">
      <div class="">
        <div class="circle">{{ transport.username.charAt(0) }}</div>
        <h2>{{ transport.username }}</h2>
      </div>
      <div class="row">
        <div class="col-3 desc-gray"><span>Availability</span></div>
        <div class="col-3 desc-green">
          <span>{{ transport.workingHours }}</span>
        </div>
        <div class="col-3 desc-gray"><span>Working Days</span></div>
        <div class="col-3 desc-green">
          <span>{{ transport.workingDays }}</span>
        </div>
        <div class="col-3 desc-gray"><span>Car</span></div>
        <div class="col-3 desc-green">
          <span>{{ transport.car }}</span>
        </div>
        <div class="col-3 desc-gray"><span>Seats</span></div>
        <div class="col-3 desc-green">
          <span>{{ transport.seats }}</span>
        </div>
      </div>
      <h1 class="title">{{ transport.title }}</h1>
      <div class="">
        <span>{{ transport.text }}</span>
      </div>
      <br />

      <small>
        <button class="btn btn-sm  btn-block btn-outline-danger" (click)="deleteTransport(transport._id)">
          <i class="fas fa-trash-alt p-5"> Delete transport</i>
        </button>
      </small>

      <div class="price">
        <span class="green">{{ transport.price }} KM/h</span>
      </div>
    </div>
  </div>
</div>
