<div class="form">
  <h1>Post your Transport Service</h1>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.username"
      style="display: none"
    />
    <br />
    <label for="username">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="transport.title" name="text2" /> <br />
    <label for="password">Text</label>
    <textarea name="text" class="form-control" required [(ngModel)]="transport.text" rows="8" cols="80"></textarea>
    <br />
    <label for="car">car</label>
    <input type="car" class="form-control" id="title" required [(ngModel)]="transport.car" name="car" /> <br />
    <label for="seats">seats</label>
    <input type="seats" class="form-control" id="title" required [(ngModel)]="transport.seats" name="car" /> <br />
    <label for="workingHours">workingHours</label>
    <input
      type="workingHours"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.workingHours"
      name="car"
    />
    <br />
    <label for="workingDays">workingDays</label>
    <input type="workingDays" class="form-control" id="title" required [(ngModel)]="transport.workingDays" name="car" />
    <br />
    <label for="username">Price</label>
    <input type="price" class="form-control" id="title" required [(ngModel)]="transport.price" name="email" /> <br />
    <input type="submit" name="" (click)="onSubmit()" value="Post" />
  </div>
</div>
