<div class="form">
  <h1>Post your Transport Service</h1>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.username"
      style="display: none"
    />
    <br />
    <label for="username">Title</label>
    <input
      placeholder="Title"
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.title"
      name="text2"
    />
    <br />
    <label for="password">Text</label>
    <textarea
      placeholder="Description of the service you offer."
      name="text"
      class="form-control"
      required
      [(ngModel)]="transport.text"
      rows="8"
      cols="80"
    ></textarea>
    <br />
    <label for="car">Car</label>
    <input
      placeholder="Car brand and model"
      type="car"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.car"
      name="car"
    />
    <br />
    <label for="seats">Number of seats</label>
    <input
      placeholder="Number of seats"
      type="seats"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.seats"
      name="car"
    />
    <br />
    <label for="workingHours">Hours Available</label>
    <input
      type="workingHours"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.workingHours"
      name="car"
      placeholder="Hours per day"
    />
    <br />
    <label for="workingDays">Days Available</label>
    <input
      placeholder="Days per week"
      type="workingDays"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.workingDays"
      name="car"
    />
    <br />
    <label for="location">Location</label>
    <input
      type="location"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.location"
      name="car"
      placeholder="City"
    />
    <br />

    <label for="username">Price</label>
    <input
      placeholder="Amount KM/h"
      type="price"
      class="form-control"
      id="title"
      required
      [(ngModel)]="transport.price"
      name="email"
    />
    <br />
    <input type="submit" name="" (click)="onSubmit()" value="Post" />
  </div>
</div>
