
<div class="form">
  <h2>Registration</h2>


  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username"
           required
           [(ngModel)]="model.username" name="username">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
           required
           [(ngModel)]="model.password" name="password">
    <input type="submit" name="" value="Register">
  </div>
</div>
